name: Dart Analysis Server Tests
    
    on:
      pull_request:
      push:
        branches:
          - main
      workflow_dispatch:
    
    permissions:
      contents: read
    
    jobs:
      dart-analysis-server-tests:
        name: DAS Tests (${{ matrix.os }})
        strategy:
          fail-fast: false
          matrix:
            dart-version: ['stable']
            os: [ macos-latest ]
        runs-on: ${{ matrix.os }}
        timeout-minutes: 25
        
        steps:
          - name: Checkout code
            uses: actions/checkout@v4
    
          - name: Set up JDK
            uses: actions/setup-java@v4
            with:
              distribution: 'temurin'
              java-version: '21'
              cache: 'gradle'
    
          - name: Set up Dart SDK ${{ matrix.dart-version }}
            uses: dart-lang/setup-dart@v1
            with:
              sdk: ${{ matrix.dart-version }}
    
          - name: Run Dart Analysis Server Tests
            run: ./gradlew :test --tests "com.jetbrains.dart.analysisServer.*"
            working-directory: third_party
    
          - name: Upload test results
            uses: actions/upload-artifact@v4
            if: always()
            with:
              name: das-test-results
              path: |
                **/build/reports/
                **/build/test-results/
    
